.popupPart {
  position: fixed;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  inset: 0;
  z-index: 3;
}
.popupPart .popupBox {
  background-color: white;
  margin-top: 6.25rem;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  min-height: 31.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.popupPart .popupBox .popUpHeader {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.popupPart .popupBox .popUpHeader .closeIcon {
  width: 1.625rem;
  height: 1.625rem;
  margin-right: 1.625rem;
  margin-top: 1.625rem;
}
.popupPart .popupBox .popupInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.popupPart .popupBox .popupInfo .img-part {
  position: relative;
  overflow: hidden;
  width: 50%;
  aspect-ratio: 150/100;
  margin-left: 3%;
}
.popupPart .popupBox .popupInfo .img-part .carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.popupPart .popupBox .popupInfo .img-part .carousel-image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 0.5rem;
}
.popupPart .popupBox .popupInfo .img-part .carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popupPart .popupBox .popupInfo .img-part .carousel-forword_btn {
  background-color: transparent;
  color: black;
  border: none;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupPart .popupBox .popupInfo .img-part .carousel-forword_btn:hover {
  background: rgba(0, 0, 0, 0.6);
}
.popupPart .popupBox .popupInfo .img-part .carousel-forword_btn:active {
  transform: scale(0.9);
}
.popupPart .popupBox .popupInfo .img-part .carousel-backwork_btn {
  background-color: transparent;
  color: black;
  border: none;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupPart .popupBox .popupInfo .img-part .carousel-backwork_btn:hover {
  background: rgba(0, 0, 0, 0.6);
}
.popupPart .popupBox .popupInfo .img-part .carousel-backwork_btn:active {
  transform: scale(0.9);
}
.popupPart .popupBox .popupInfo .detail-part {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.popupPart .popupBox .popupInfo .detail-part h2 {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
}
.popupPart .popupBox .popupInfo .detail-part .project-type {
  display: flex;
  flex-direction: row;
  margin-top: 1.25rem;
}
.popupPart .popupBox .popupInfo .detail-part .project-type .tytletTag {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}
.popupPart .popupBox .popupInfo .detail-part .project-type .type_info {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.popupPart .popupBox .popupInfo .detail-part .project-key_skill {
  display: flex;
  flex-direction: row;
  margin-top: 1.25rem;
}
.popupPart .popupBox .popupInfo .detail-part .project-key_skill .skillTag {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-right: 0.5rem;
}
.popupPart .popupBox .popupInfo .detail-part .project-key_skill .skill_info {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.popupPart .popupBox .popupInfo .detail-part .project-description {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}
.popupPart .popupBox .popupInfo .detail-part .project-description .descriptioTag {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.popupPart .popupBox .popupInfo .detail-part .project-description .description_info {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.popupPart .popupBox .popUpFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}/*# sourceMappingURL=CaseDetailPopup.css.map */