@use "../../styles/_functions" as *;
@use "../../styles/_global" as *;

.PersonalInfoDisplay {
    //width: 100%;
    width: 83%;
    max-width: pxToRem(1500);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 3.3%;
    //border: 1px solid yellow;

    //align-items: center;
    .head-img {
        //border: 1px solid red;
        border-radius: pxToRem(500);
        width: pxToRem(500);
        height: pxToRem(500);
        //margin-left: 12%;
        margin-top: pxToRem(70);
    }

    .summary_resume {
        width: 88%;
        //max-width: 65%;
        margin-top: pxToRem(120);
        //margin-left: pxToRem(3);
        margin-left: auto;
        margin-right: auto;
        //border: 1px solid blue;
        display: flex;
        flex-direction: column;
        gap: 2.6%;

        h2 {
            padding: 0;
            margin: 0;
            //border: 1px solid red;
            font-family: "Arial", "Helvetica", sans-serif;
            color: black;
            font-size: pxToRem(66);
            font-weight: 700;
        }

        ul {

            padding-left: pxToRem(26);

            .key-point_resume {
                padding: 0;
                margin-bottom: pxToRem(20);
                //border: 1px solid green;
                font-family: "Inter", sans-serif;
                color: black;
                font-size: pxToRem(26);
                font-weight: 500;
                word-wrap: break-word;
                overflow-wrap: break-word;
            }
        }



    }

    .skill_block {
        //border: 1px solid red;
        width: 88%;
        //height: pxToRem(200);
        margin-right: auto;
        margin-left: auto;
        //margin-left: pxToRem(60);
        display: flex;
        flex-direction: row;
        gap: 8%;
        margin-top: pxToRem(60);
        h1 {
            padding: 0;
            margin: 0;
            margin-top: pxToRem(50);
            //border: 1px solid red;
            font-family: "Arial", "Helvetica", sans-serif;
            color: black;
            font-size: pxToRem(36);
            font-weight: 700;
        }

        .skill_display {
            display: flex;
            flex-direction: column;
            gap: pxToRem(12);
            //border: 1px solid red;
        }

        .skill_row {
            display: flex;
            flex-wrap: wrap;
            gap: pxToRem(16);
        }

        .skill_tag {
            font-family: "Arial", "Helvetica", sans-serif;
            font-size: pxToRem(26);
            font-weight: 500;
            padding: 5px;
            border: 1px solid blue;
            border-radius: pxToRem(50);
        }

    }
}

@include tablet {
    .PersonalInfoDisplay {
        flex-direction: column;

        .head-img {
            width: pxToRem(300);
            height: pxToRem(300);
            margin-left: auto;
            margin-right: auto;
            margin-top: pxToRem(15);
        }

        .summary_resume {
            margin-left: auto;
            margin-right: auto;
            //border: 1px solid red;
            max-width: 89%;
            margin-top: pxToRem(15);
        }
    }
}

@include mobile {
    .PersonalInfoDisplay {
        flex-direction: column;
        //border: 1px solid red;
        .skill_block {
            margin-top:  pxToRem(30);
            //border: 1px solid red;
            flex-direction: column;
            gap:  pxToRem(30);
            h1{
                margin: 0;
                font-size: pxToRem(36);
            }
    
        }
        .head-img {
            //border: 1px solid red;
            border-radius: pxToRem(500);
            width: pxToRem(200);
            height: pxToRem(200);
            //margin-left: 12%;
            margin-top: pxToRem(15);
            margin-left: auto;
            margin-right: auto;
        }

        .summary_resume {
            margin-top: pxToRem(20);
            //border: 1px solid red;
            margin-left: auto;
            margin-right: auto;
            max-width: 95%;

            h2 {
                font-size: pxToRem(36);
            }

            ul {
                .key-point_resume {
                    font-size: pxToRem(24);
                }

            }
        }

    }


}