@use "./../styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: $color-light-grey;
  margin: 0;
}


@mixin mobile {
  @media (min-width: 375px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1500px) {
    @content;
  }
}