$border-radius-md: 16px;

$color-teal: #1D6287;
$color-light-grey: #F1F7F8;
$color-pink: #D5ADAD;

$color-red: #CC3C42;
$color-dark-red: #8A3216;
$color-green: #00A970;
$color-dark-green: #187958;
$color-orange: #E17100;
$color-grey: #5F5F5F;
$color-light-blue: #9FCDE5;
$color-border-blue: #5894BC;

$color-form-grey: #F2F2F2;