@use "../..//styles/_functions" as *;

.contact_area {
    margin-left: auto;
    margin-right: auto;
    margin-top: pxToRem(60);
    margin-bottom: pxToRem(60);
    width: 75%;
    max-width: pxToRem(1500);
   // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: left;

    h1 {
        font-family: "Arial", "Helvetica", sans-serif;
        font-size: pxToRem(36);
        font-weight: 600;
        //border: 1px solid red;
    }

    .email-area {
        //border: 1px solid red;
        display: flex;
        flex-direction: row;
        gap: pxToRem(8);

        p {
            padding: 0;
            font-family: "Arial", "Helvetica", sans-serif;

            font-size: pxToRem(20);
            font-weight: 500;


        }

    }

    .other_social-area {
        display: flex;
        flex-direction: row;
        gap: pxToRem(8);
    }
}